.header-list-subscription {
    width: 100%;
}

.list-subscription img {
    width: 200px;
    height: auto;
}

.wrapper-list-subscription {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  height: 100vh;
  width: 100%;
  background-color: rgb(17, 17, 17);
  overflow: auto;
  /* margin: 0px; */
  margin-left: 20px;
}

.subscription-list-block-upper {
    width: 100%;
    flex: 0 0 50px;
    /* margin-top: 5px; */
    background-color: rgb(17, 17, 17);
    display: flex;
    flex-direction: row;
}

.subscription-list-block-middle {
    width: 100%;
    flex: 1 0 50px;
    /* margin-top: 5px; */
    background-color: rgb(25, 25, 25);
    padding: 0px;
    position: relative;
    min-height: 75px;
    max-height: 75px;
}

.subscription-list-block-bottomer {
    width: 100%;
    flex: 0 0 50px;
    /* margin-top: 5px; */
    background-color: rgb(17, 17, 17);
}

.subscription-list-image {
    background-color: rgb(25,25,25);
    margin: 20px;
    width: 200px;
    height: 200px;
    object-fit: contain;
    min-width: 200px;
    min-height: 200px;
}

.subscription-list-text {
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: auto;
}

.subscription-list-title {
    font-size: 65px;
    margin: 0px;
}

.subscription-list-button {
    width: 65px;
    height: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 10%;
    background-color: #1DB954;
    border: none;
    font-weight: bold;
}

.subscription-list-button:hover{
    cursor: pointer;
    background-color: #21dc63;
}

.subscription-list-songs-button {
    width: 70px;
    height: 30px;
    border-radius: 10%;
    background-color: #1DB954;
    border: none;
    font-weight: bold;
}

.subscription-list-songs-button:hover{
    cursor: pointer;
    background-color: #21dc63;
}

.subscription-list-songs-buttons {
    position: relative;
}
/* .subscription-list-buttons {  
    align-items: center;
    align-self: center;
    display: flex;
    flex-direction: row;
} */

.subscription-list-songs-table {
    background-color: rgb(38, 38, 38);
    width: 100%;
}

.bg-17-17-17 {
    background-color: rgb(17, 17, 17);
}

.subscription-list-table-align-right {
    text-align: right;
}

.subscription-list-button-delete {
    width: 65px;
    height: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 100px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 10%;
    background-color: red;
    border: none;
    font-weight: bold;
}

.subscription-list-button-delete:hover {
    cursor: pointer;
    background-color: rgb(253, 31, 31);
}

table {
	width: 800px;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th, td {
	padding: 15px;
	background-color: rgb(25,25,25);
	color: #fff;
}

th {
	text-align: left;
}