.wrapper-register {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    height: 100vh;
    width: 100%;
    background-color: rgb(17, 17, 17);
    overflow: auto;
    margin: 0px;
}

.register-block-upper {
    width: 100%;
    flex: 0 0 50px;
    /* margin-top: 5px; */
    background-color: rgb(17, 17, 17);
    display: flex;
    flex-direction: row;
}

.register-block-middle {
    width: 100%;
    flex: 1 0 50px;
    /* margin-top: 5px; */
    background-color: rgb(25, 25, 25);
    padding: 0px;
    position: relative;
    height: auto;
}

.register-text {
    margin: 20px;
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.register-button {
    width: 80px;
    height: 30px;
    border-radius: 10%;
    background-color: #1DB954;
    border: none;
    font-weight: bold;
    margin-left: 25px;
}

.register-form {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.label-register {
    font-weight: bold;
    color: white;
    margin-top: 20px;
}

.register-image {
    background-color: white;
    margin: 20px;
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.buttonOrMessageHolder{ text-align: center; }

.register-button:hover{
    cursor: pointer;
    background-color: #21dc63;
}

.register-title {
    font-size: 65px;
    margin: 0px;
}

.register-message {
    
    margin-left: auto;
    margin-right: auto;
}

#log-link{
    color:magenta
}

#log-link:hover{
    color:rgb(34, 0, 255)
}